mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

.mat-toolbar {
  height: 90px;
  background-color: #121212;
  color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container img {
  height: 80px;
  width: auto;
}

.toolbar-actions {
  margin-left: auto;
}

.toolbar-actions button {
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

mat-sidenav {
  width: 250px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #f5f5f5;
}

mat-nav-list a {
  color: black;
}

mat-nav-list a span {
  margin-left: 10px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    min-height: calc(100vh - 90px); /* Visina toolbara je 90px, pa je prilagođeno */
}

.welcome-card, .info-card {
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.welcome-card h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.welcome-card p, .info-card p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}

.info-card h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 1.5rem;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.stat-number {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.stat-label {
    font-size: 0.9rem;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-text {
  position: fixed;
  top: 60px;
  right: 10px;
  color: #000000;
  font-size: 0.8rem;
}